.MainIndex {
  height: 100%;
}

.MainIndex-header {
  background-color: #5134C4;
  display: block;
  text-align: center;
}

.MainIndex-navicon-wrapper {
  display: inline-block;
  left: 0.5rem;
  position: absolute;
  top: 0.2rem;
}

.MainIndex-logo-wrapper {
  display: inline-block;
  margin: 0 auto;
  width: 2.5rem;
}

.MainIndex-logo-container {
  display: inline-block;
  padding: 0.5rem;
}

.MainIndex-logo-link {
  display: inline-block;
}

.MainIndex-logo {
  display: inline-block;;
  width: 100%;
}

.MainIndex-sidebar {
  background-color: #FBFBFB;
  -webkit-backface-visibility: hidden;
  bottom: 0;
  left: 0;
  display: inline-block;
  height: 100%;
  overflow-y: auto;
  position: absolute;
  padding-bottom: 5rem;
  -webkit-perspective: 1000;
  top: 0;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  width: 14.375rem;
  will-change: transform;
  z-index: 50;
}

.MainIndex-sidebar-overlay {
  background-color: rgba(184, 183, 215, 0.9);
  bottom: 0;
  left: 0;
  display: none;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

.MainIndex-sidebar.active {
  transform: translate3d(0, 0, 0);
}

.MainIndex-sidebar-overlay.active {
  display: block;
}

.MainIndex-sidebar-accent {
  color: #808091;
  font-family: 'Lato', 'Aller-Light', Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  opacity: 0.6;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.MainIndex-nav-list {
  list-style: none;
}

.NavLink {
  border-left: 2px solid transparent;
  display: inline-block;
  color: #303030;
  font-family: 'Lato', 'Aller-Light', Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: capitalize;
  transition: color 200ms ease-out;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

.NavLink:hover {
  border-left: 2px solid #726EEA;
  background-color: rgba(246, 246, 250, 0.6);
  color: #4641BE;
}

.MainIndex-feature {
  float: left;
  height: 100%;
  overflow-y: auto;
  padding: 1rem 1rem 6rem 1rem;
  width: 100%;
}

.MainIndex-desktop-links {
  display: none;
}


/*===========================================
                BREAKPOINTS
===========================================*/
@media only screen and (min-width: 655px) {
  .MainIndex-navicon-wrapper {
    display: none;
  }

  .MainIndex-header {
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }

  .MainIndex-logo-container {
    background-color: #3F00B6;
    padding: 0.5rem 1rem;
  }

  .MainIndex-desktop-links {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding: 0 2rem;
    list-style: none;
  }

  .MainIndex-desktop-link {
    color: #C4C2FF;
    display: inline-block;
    font-family: 'Lato', 'Aller-Light', Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    letter-spacing: 0.04rem;
    margin-right: 1.5rem;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
  }

  .MainIndex-desktop-link:hover {
    color: #fff;
  }

  .MainIndex-sidebar {
    bottom: initial;
    left: initial;
    float: left;
    position: relative;
    top: initial;
    transform: translateX(0);
  }

  .MainIndex-feature {
    width: calc(100% - 14.375rem);
  }
}
