.Home {
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
}

.Home-header {
  padding-bottom: 2.5rem;
}

.Home-headline {
  padding-bottom: 1.5rem;
  width: 20rem;
}

.Home-logo {
  display: inline-block;
  width: 100%;
}

.Home-pills {
  margin-right: 0.5rem;
}

.Home-description,
.Home-change-link {
  font-family: 'Lato', 'Aller-Light', Helvetica, Arial, sans-serif;
  letter-spacing: 0.03rem;
  line-height: 1.6;
  max-width: 35.375rem;
  padding-bottom: 1rem;
  -webkit-font-smoothing: antialiased;
}

.Home-change-link {
  display: inline-block;
  color: #5134C4;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  text-decoration: none;
}

.Home-change-link:hover {
  color: #8071FE;
}

.Home-title {
  font-size: 1.5rem;
  letter-spacing: 0.0245rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-transform: capitalize;
}

.Home-code-section {
  padding-bottom: 2rem;
}

.Home-code {
  background-color: #fafafa;
  border-radius: 4px;
  display: block;
  font-family: monospace;
  margin-top: 1rem;
  padding: 1rem;
}
