.Input,
.Input > * {
  box-sizing: border-box;
}

.Input {
  display: block;
  margin-bottom: 1rem;
  position: relative;
}

.Input-label {
  color: #808091;
  display: block;
  font-family: 'Aller-Light', Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  letter-spacing: 0.0125rem;
}

.Input-input {
  appearance: none;
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #303030;
  display: block;
  font-family: 'Lato', 'Aller-Light', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.011875rem;
  outline: 0;
  padding: 1.1rem 0;
  width: 100%;
  z-index: 10;
  -webkit-font-smoothing: antialiased;
}

.Input-input:focus {
  box-shadow: none;
  outline: 0;
}
