.DatePicker {
  display: inline-block;
  margin-right: 2rem;
  margin-top: 1rem;
  position: relative;
  width: 100%;
}

.DatePicker-input-wrapper {
  position: relative;
}

.DatePicker-input-wrapper:before {
  bottom: 0.8rem;
  background:
    url(./images/calendar.svg)
    no-repeat
    center
    center
    transparent;
  background-size: contain;
  display: inline-block;
  content: "";
  height: 1.375rem;
  left: 0.6875rem;
  position: absolute;
  width: 1.375rem;
}

.DatePicker-input-wrapper:hover:before {
  bottom: 0.8rem;
  background:
    url(./images/calendar-active.svg)
    no-repeat
    center
    center
    transparent;
  background-size: contain;
}

.DatePicker-label {
  color: #646471;
  display: block;
  font-size: 0.875rem;
  letter-spacing: 0.0245rem;
  padding-bottom: 0.375rem;
  text-transform: capitalize;
}

.DatePicker-input {
  appearance: none;
  background-color: transparent;
  border: 1px solid #B3B3CC;
  border-radius: 2px;
  box-shadow: none;
  color: transparent;
  cursor: pointer;
  display: block;
  font-family: 'Lato', 'Aller-Light', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.03rem;
  outline: 0;
  padding-bottom: 0.8rem;
  padding-left: 3rem;
  padding-right: 1rem;
  padding-top: 0.8rem;
  transition: border 150ms ease-out;
  text-transform: capitalize;
  text-shadow: 0 0 0 #303030;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

.DatePicker-input:hover {
  border: 1px solid #8071FE;
}

.DatePicker-input:focus {
  box-shadow: none;
  outline: 0;
}


/*===========================================
                BREAKPOINTS
===========================================*/
@media only screen and (min-width: 768px) {
  .DatePicker {
    width: 16.625rem;
  }
}
