* {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.Breadcrumb {
  display: block;
  padding: 0.5rem 0.8rem;
  width: 100%;
}

.Breadcrumb-list {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.Breadcrumb-list-li {
  align-items: center;
  display: flex;
}

.Breadcrumb-list-li:after {
  background:
    url('~images/icons/breadcrumb-arrow.svg')
    no-repeat
    right
    center
    transparent;
  background-size: contain;
  color: #303030;
  content: "";
  display: inline-block;
  height: 0.5625rem;
  margin: 0.06rem 0.3rem 0 0;
  position: relative;
  width: 0.625rem;
}

.Breadcrumb-list-li:last-child:after {
  display: none;
}

.Breadcrumb-link {
  color: #303030;
  display: inline-block;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 0.625rem;
  letter-spacing: 0.0125;
  text-decoration: none;
  text-transform: capitalize;
  transition: color 200ms linear;
}

/* hover */

.Breadcrumb-link:hover {
  color: #8071FE;
}

/* active */

.Breadcrumb-link.active {
  color: #5134C4;
  cursor: default;
}


/*===========================================
                BREAKPOINTS
===========================================*/
@media only screen and (min-width: 768px) {
  padding: 0.5rem 2rem;
}
