.Breadcrumb {
  background-color: #F9F9FA;
  display: block;
  padding: 0.5rem 0.8rem;
  width: 100%;
}

.Breadcrumb-list {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.Breadcrumb-item {
  align-items: center;
  display: flex;
}

.Breadcrumb-link {
  display: inline-block;
}

.Breadcrumb-item:after {
  color: #303030;
  content: ">";
  display: inline-block;
  font-size: 0.625rem;
  font-weight: 100;
  padding: 0 0.5rem;
  position: relative;
}

.Breadcrumb-item:last-child:after {
  display: none;
}

.Breadcrumb-link {
  color: #303030;
  font-size: 0.625rem;
  font-weight: 100;
  letter-spacing: 0.0125rem;
  text-decoration: none;
  text-transform: capitalize;
  transition: color 200ms linear;
}

.Breadcrumb-link.active {
  color: #5134C4;
}

.Breadcrumb-link:hover {
  color: #EE2C8D;
}

/* no items */

.Breadcrumb.hidden {
  display: none;
}


/*===========================================
                BREAKPOINTS
===========================================*/
@media only screen and (min-width: 655px) {
  .Breadcrumb {
    padding: 0.5rem 2rem;
  }
}
