.Modal {
  display: none;
  left: 0;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.Modal-overlay {
  background-color: rgba(184, 183, 215, 0.9);
  display: block;
  left: 0;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 400ms ease-out;
  transition-delay: 100ms;
  width: 100%;
  z-index: 0;
}

.Modal-content {
  animation-duration: 400ms;
  background-color: #fff;
  box-shadow: 4px 4px 16px rgba(51, 48, 125, 0.2);
  height: 100%;
  margin: 0 auto;
  overflow-y: auto;
  position: relative;
  width: 100%;
}

.Modal-content.fadeOutUp {
  animation-duration: 300ms;
}

.Modal-header {
  background-color: #4641BE;
  padding: 1rem;
  position: relative;
  text-align: center;
}

.Modal-logo-container {
  display: inline-block;
  height: 100%;
  width: 2.3125rem;
}

.Modal-logo {
  display: inline-block;
  width: 100%;
}

.Modal-close-btn {
  background:
    url(./modal-close-white.svg)
    no-repeat
    center
    center
    transparent;
  background-size: 1rem;
  cursor: pointer;
  display: inline-block;
  height: 2rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2rem;
}


/* active */

.Modal.active {
  display: block;
}

.Modal.active .Modal-overlay {
  opacity: 1;
}


/* outro */

.Modal.outro .Modal-overlay {
  opacity: 0;
}


/*===========================================
                BREAKPOINTS
===========================================*/
@media only screen and (min-width: 655px) {
  .Modal-content {
    border-radius: 5px;
    bottom: 0;
    left: 0;
    margin: auto;
    max-height: 33rem;
    position: absolute;
    right: 0;
    top: 0;
  }
}
