* {
  box-sizing: border-box;
  color: #303030;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  line-height: 1.3;
}

::-moz-selection {
  background-color: #bfbfbf;
  color: #202020;
}
::selection {
  background-color: #bfbfbf;
  color: #202020;
}

:focus {
  background-color: transparent;
  outline: none;
}

html,
body {
  background-color: #f5f5f5;
  height: 100%;
  width: 100%;
}

body {
  min-width: 20rem;
  overflow: hidden;
}

.root {
  height: 100%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.none {
  display: none;
}

.br-mobile {
  display: block;
}


/*===========================================
                BREAKPOINTS
===========================================*/
@media only screen and (min-width: 600px) {
  .br-mobile {
    display: inline-block;
    padding-left: 0.3rem;
  }
}
