.AnimatedInput,
.AnimatedInput > * {
  box-sizing: border-box;
}

.AnimatedInput {
  display: block;
  margin-bottom: 1rem;
  position: relative;
}

.AnimatedInput-label {
  bottom: 1rem;
  color: #808091;
  display: inline-block;
  font-family: 'Aller-Light', Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  letter-spacing: 0.0125rem;
  left: 0;
  position: absolute;
  text-transform: capitalize;
  transform: translate3d(0, 0, 0);
  transition: transform 200ms ease-out, font-size 200ms ease-out;
  will-change: transform;
  z-index: 0;
}

.AnimatedInput-wrapper {
  background:
    url('./images/input-border-bottom.svg')
    repeat-x
    0
    bottom
    transparent;
  height: 5.0625rem;
  position: relative;
}

.AnimatedInput-wrapper:before {
  background-color: transparent;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  display: block;
  position: absolute;
  right: 0;
  transition: width 200ms ease-out;
  width: 0;
  will-change: width;
  z-index: 15;
}

.AnimatedInput-input {
  appearance: none;
  background-color: transparent;
  border: none;
  bottom: 0;
  box-shadow: none;
  color: #303030;
  display: block;
  font-family: 'Lato', 'Aller-Light', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.011875rem;
  left: 0;
  outline: 0;
  padding-bottom: 1.1rem;
  padding-left: 0rem;
  padding-top: 1.1rem;
  padding-right: 1rem;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 10;
  -webkit-font-smoothing: antialiased;
}

.AnimatedInput-input:focus {
  box-shadow: none;
  outline: 0;
}

/* active */

.AnimatedInput.active .AnimatedInput-label {
  font-size: 0.875rem;
  transform: translate3d(0, -2.5rem, 0);
}

.AnimatedInput.active .AnimatedInput-wrapper {
  background: none;
}

.AnimatedInput.active .AnimatedInput-wrapper:before {
  background-color: #9B8FFF;
  width: 100%;
}

/* value */

.AnimatedInput.value .AnimatedInput-label {
  font-size: 0.875rem;
  transform: translate3d(0, -2.5rem, 0);
}

/* password */

.AnimatedInput-toggle-value-btn {
  background:
    url(./images/pass-show.svg)
    no-repeat
    left
    0rem
    transparent;
  background-size: 1rem;
  bottom: 0.8rem;
  display: inline-block;
  color: #808091;
  cursor: pointer;
  font-family: 'Lato', 'Aller-Light', Helvetica, Arial, sans-serif;
  font-size: 0.7rem;
  height: 1rem;
  letter-spacing: 0.03rem;
  padding-left: 1rem;
  position: absolute;
  opacity: 0;
  right: 1.3rem;
  text-align: right;
  text-transform: capitalize;
  transition: opacity 150ms ease-out;
  width: 3.125rem;
  -webkit-font-smoothing: antialiased;
  z-index: 20;
}

.AnimatedInput-toggle-value-btn.active {
  opacity: 1;
}

.AnimatedInput-toggle-value-btn.show {
  background:
    url(./images/pass-hide.svg)
    no-repeat
    left
    center
    transparent;
  background-size: 1.5rem;
  padding-left: 1.8rem;
}
