.InformationalIcon {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.InformationalIcon-children-wrapper {
  display: inline-block;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  padding-top: 0.4rem;
}
