.Modal,
.Modal > * {
  box-sizing: border-box;
}

.Modal {
  animation-duration: 250ms;
  background-color: #fff;
  left: 0;
  height: 100%;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5rem;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.Modal-content {
  overflow-y: auto;
  position: relative;
}

.Modal-close-btn {
  cursor: pointer;
  display: inline-block;
  height: 2rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2rem;
}


/*===========================================
                BREAKPOINTS
===========================================*/
@media only screen and (min-width: 1280px) {
  .Modal-close-btn {
    right: 3rem;
    top: 2rem;
  }
}
